@import "../../styles/mixins/mixins.scss";

$font-title: var(--font-headline-1);
$font-name: var(--font-headline-5);
$color-title: var(--color-dark-title);
$color-name: var(--color-dark-main);

.credential {
    width: 60%;
    display: flex;
    align-items: center;

    > img {
        width: 150px;
        height: 150px;
        background-color: rgb(197, 197, 197);
        border-radius: 50%;
    }

    &_title {
        padding: 10px;

        h4 {
            font: $font-name;
            color: $color-name;
            text-transform: uppercase;
        }

        h1 {
            font: $font-title;
            color: $color-title;
        }
    }
}

/* LARGE SCREEN */

@include large-screen() {
}

/* MEDIUM SCREEN */

@include medium-screen() {
    .credential {
        width: 75%;
        flex-direction: column;

        &_title {
            text-align: center;
        }
    }
}

/* SMALL SCREEN */

@include small-screen() {
}

/* EXTRA SMALL SCREEN */

@include extra-small-screen() {
}
